.root{
    -fx-background-color: #313335;
    -fx-font-family: "Verdana";
}
.standard-text {
    -fx-fill: #FFFFFF;
}

.title-text {
    -fx-fill: #228B22;
    -fx-font-size: 30px;
}
.separator .line {
    -fx-border-color: #228B22;
    -fx-border-width: 1;
}
.button {
    -fx-background-radius: 0;
    -fx-background-color: #43b92b;
    -fx-border-color: #228B22;
    -fx-border-radius: 0;
    -fx-border-width: 2;
}

.radio-button .radio{
    -fx-border-width     : 1px   ;
    -fx-background-color : #43b92b ;
    -fx-padding: 2px;

}

.radio-button .dot{
  -fx-mark-color: forestgreen ;
  -fx-mark-highlight-color: #43b92b ;
}

.radio-button .text{
    -fx-fill: white;
}


.check-box>.box {
  -fx-background-color: transparent;
}

/* Image Credits
Eye by Leyla Jacqueline from the Noun Project
Eye by Sudhakar from the Noun Project
*/
.check-box>.box>.mark {
  -fx-padding: 15px;
  -fx-background-size: cover;
  -fx-background-position: center;

  -fx-mark-highlight-color: transparent;
  -fx-background-image: url("open_eye.png");

  -fx-background-position: center;
  -fx-background-repeat: stretch;
  -fx-shape: none;
}

.check-box:selected>.box>.mark{
  -fx-background-color: transparent;
  -fx-background-image: url("closed_eye.png");
}
